.body {
    background-image: url(coffee.jpg)
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover
    
    
} 
.header {
    background-color: #5C4434;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 40px;
    height: 40px;
    background-color: gray;
    border-radius: 5px;
}
.menu {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu div {
    height: 4px;
    background-color: white;
}
.footer {
    background-color: #555;
    color: white;
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
        

