.listProduct .item img{
    width: 90%;
    filter: drop-shadow(0 50px 20px #0009);
}
.listProduct{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.listProduct .item{
    background-color: #EEEEE6;
    padding: 20px;
    border-radius: 20px;
}
.listProduct .item h2{
    font-weight: 500;
    font-size: large;
}
.listProduct .item .price{
    letter-spacing: 7px;
    font-size: small;
}
.listProduct .item button{
    background-color: #353432;
    color: #eee;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 20px;
}

.listCart .item img{
    width: 100%;
}
.listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    border-radius: 50%;
    color: #555;
    cursor: pointer;
}
.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
    cursor: auto;
}
.listCart .item:nth-child(even){
    background-color: #eee1;
}
.listCart{
    overflow: auto;
}
.listCart::-webkit-scrollbar{
    width: 0;
}
        


*{
    margin: 0;
    padding: 0;
}

footer{
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

footer li{
    display: inline-block;
    margin: 0 10px;
}

footer a{
    color: #fff;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}

.body {
    background-image: url(coffee.jpg)
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover
    margin: 0;
    font-family: Arial, sans-serif;
    
} 
.header {
    background-color: #5C4434;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 40px;
    height: 40px;
    background-color: gray;
    border-radius: 5px;
}
.menu {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu div {
    height: 4px;
    background-color: white;
}
.footer {
    background-color: #555;
    color: white;
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}